:root{
    --purple-primary: #554DDE;
    --accent-pink: #F44E77;
    --neutral-light: #F2F6FF;
    --lavender-secondary: #6A6D9E; /*Primary Font Color*/
    --dark-primary: #16194F;
    --border-colour: #CAB6F1;
}