*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.body{
    background: url(img/bg.jpg);
    min-height: 100vh;
    width: 100vw;
    display: flex;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}
#score{
    position: absolute;
    top: 15px;
    right: 5vw;
    font-size: 3vw;
    font-weight: bold;
    font-family: cursive;
    
}
#maxScoreCont{
    position: absolute;
    top: 70px;
    right: 5vw;
    font-size: 1.5vw;
    font-weight: bold;
    font-family: cursive;  
}
#board{
    background: linear-gradient(rgb(170,236,170),rgb(236,236,167));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
}
.head{
    --top: 80%;
    --bottom: 10%;
    --left: 2%;
    --right: 2%;
    --direction: row;
    background:linear-gradient(rgb(228, 151, 151),rgb(239, 239, 97));
    border: 2px solid purple;
    transform: scale(1.02);
    border-radius: 9px;
    display: flex;
    /* align-items: space-evenly;
    justify-content: space-evenly; */
    /* gap: 20px; */
    flex-direction: var(--direction);
    padding-top: var(--top);
    padding-bottom:var(--bottom);
    padding-left: var(--left);
    padding-right: var(--right);
}
.snake{
    background-color: purple;
    border: .25vmin solid white;
    border-radius: 12px;
    /* z-index: 50; */
}
.food{
    /* background-color: rgb(255, 98, 0); */
    background: linear-gradient(red,purple);
    border: .25vmin solid black;
    border-radius: 8px;
}
.eyes{
    width: 4px;
    height: 4px;
    background-color: black;
    border: 1px solid black;
    z-index: 100;
    border-radius: 50%;
    margin: auto;
    /* border-radius: 50%; */
}