html {
  box-sizing: border-box;
  font-size: 10px;
  background: #ffc600;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Amatic SC', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 10rem;
  line-height: 1;
  margin-bottom: 0;
}

.score {
  background: rgba(255,255,255,0.2);
  padding: 0 3rem;
  line-height: 1;
  border-radius: 1rem;
}

.game {
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background: url(dirt.svg) bottom center no-repeat;
  background-size: contain;
  content: '';
  width: 100%;
  height:70px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
}

.mole {
  background: url('mole.svg') bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition:all 0.4s;
}

.hole.up .mole {
  top: 0;
}

button{
  background-color: #86340A;
  height: 80px;
  width: 140px;
  border-radius: 50%;
  color: white;
  font-size: 3rem;
  font-weight: 800;
  border: black solid;
}

.attribution {
  position: relative;
  bottom: 0;
 font-family: 'Kaisei HarunoUmi', serif;
  line-height: 10px;
  text-align: center;
  color: hsla(0, 0%, 100%, 0.6);
  margin-bottom: 10px;
  font-size: 2rem;
}

.attribution a {
  text-decoration: none;
  color: hsla(0, 0%, 100%, 0.75);
  font-weight: bold;
}

.attribution a:hover {
  color: hsl(277, 64%, 61%);
}
