.Card{
 display: flex;
 flex-direction: column;
 background-color: rgb(127, 216, 216);
 border: 1px solid gray;
 border-radius: 5px;
 padding: 20px;
 cursor: pointer;
 -moz-osx-font-smoothing: grayscale;
 backface-visibility: hidden;
 transform: translateZ(0);
 translate: transform 0.25 ease-out;

}
.Card:hover{
    transform: scale(1.05);
}