@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@500&family=Festive&family=Lobster&family=Roboto+Mono&family=Rubik+Moonrocks&family=Sirin+Stencil&family=Stylish&family=Supermercado+One&family=Trade+Winds&family=Ubuntu:wght@300;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Supermercado One', sans-serif;
}
body{
  min-height: 100vh;
  width: 100vw;
  transition: all 1s cubic-bezier(0.91, -0.94, 0.65, 1.55);
}

.App{
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  /* background: url("https://player.vimeo.com/external/318172509.hd.mp4?s=37080f7be4360ae34012eb9d941070b7dd51f5ae&profile_id=175"); */
  /* background:linear-gradient(45deg,rgba(255, 166, 0, 0.371),rgba(255, 0, 0, 0.262)),url("https://picsum.photos/1000") no-repeat center center / cover; */
}
.App>.search_bar>input{
  outline: none;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  background: rgba(255, 255, 255, 0.9);
  padding-left: 2rem;
  /* box-shadow: 2px 2px 5px gray; */
  min-width: 15rem;
  /* position: fixed; */
  margin-bottom: 3rem;
}
.App>.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  min-width: 20rem;
  min-height: 400px;
  max-width: 90%;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 1rem;
  /* box-shadow: 4px 4px 10px gray; */
}
.App>.card>.name{
  display: flex;
  align-items: center;
  justify-content: center;
  margin:1rem;
}
.App>.card>.name>h2{
  font: 1.7rem 'Supermercado One';
}
.App>.card>.name>h2>sup{
  padding: 0.3rem 0.5rem;
  background: orange;
  border-radius:0.5rem;
  margin-left: 0.2rem;
  font-weight: bold;
  color: white;
  font-family: "Ubuntu",cursive;
}
.App>.card>.temp{
  display: flex;
  align-items: center;
  justify-content: center;
  margin:1rem;
  font: 2rem "Big Shoulders Stencil Text" !important;
}
.App>.card>.temp>h1>sup{
  font-weight: 900;
  font-size:1.7rem !important;
}
.App>.card>.temp2{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin:1rem;
  flex-wrap: wrap;
}
.App>.card>.weather{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1rem;
}
.App>.card>.weather>img{
  filter: invert(10%);
}