/* resets in css */
*,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    color: #eeeddd;
    font-family: sans-serif;
    background-color: #111211;
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title{
    font-weight: 800;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* for score */
.score{
    background-color: #454545;
    width: 200px;
    height: 50px;
    padding: 5px;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 50px;
}

.scoretitle{
    font-weight: bold;
}

/* for start game button */
.start-button{
    margin-top: 20px;
    width: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    text-transform: uppercase;
    font-weight: 900;
    border-radius: 50px;
    background-color: #b8b8b865;
    cursor: pointer;
    
}


/* big square */
.grid{
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff88;
    width: 420px;
    height: 420px;
    border-radius: 20px;
    padding: 10px;
}

/* small squares inside box */
.grid div{
    width: 90px;
    height: 90px;
    background-color: #eeedddba;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #11121100;
    font-weight: 700;
    cursor: pointer;
    font-size: 1.2rem;
}

/* for result */
.result{
    margin-top: 10px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 2rem;
    font-family: cursive;
    text-align: center;
}