html {
   background-color: #000;
}
body {
   height: 100%;
   width: 100%;
   margin: 0 auto;
   padding: 0;
}

#canvas {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}
