@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
* {
	margin: 0;
	padding: 0;
}
.background {
	background-color: #bdd6df;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.card {
	background-color: #22223d;
	border: 1px solid black;
	position: relative;
	height: 70vh;
	width: 100vh;
	border-radius: 50px;

	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
		0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);
	margin-top: 10px;
}
.texthead {
	font-family: 'Poppins', sans-serif;
	color: white;
	font-size: 4vw;
	display: flex;
	justify-content: center;
	margin-top: 2vh;
}

.hint {
	font-family: 'Poppins', sans-serif;
	color: white;
	font-size: 3.5vw;
	display: flex;
	font-weight: bold;
	justify-content: center;
}
.circle {
	position: relative;
	top: -200px;
	animation-name: cheapball;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	margin: 10px;
}
@keyframes cheapball {
	0% {
		top: -100px;
	}
	50% {
		top: 100px;
	}
	100% {
		top: -100px;
	}
}
.input {
	position: relative;
	display: flex;
	justify-content: center;

	align-items: center;
}
#inputbox {
	margin-top: 6vw;
	color: black;
	font-size: 40px;
	text-align: center;
	font-size: 2vw;
}
.prankush {
	position: absolute;
	top: 3vh;
	font-size: 2vw;
	z-index: +1;
	font-family: 'Poppins', sans-serif;
}
.btn {
	height: 40px;
	width: 7vw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: 20px;
	font-size: 1vw;
	background-color: #bdd6df;
	border: #bdd6df;
}
.enter {
	display: flex;
	justify-content: center;
}
.output {
	font-family: 'Poppins', sans-serif;
	color: white;
	font-size: 1vw;
	display: flex;
	font-weight: bold;
	justify-content: center;
}
