
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

input[type=submit] {
    border: none;
    cursor: pointer;
}

.error {
    color: red;
}

.main-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(215, 238, 181);
}

.container {
    width: 60%;
    min-width: 600px;
    // height: 70%;
    min-height: 400px;
    border-radius: 10px;
    background-color: rgb(194, 194, 194);
}

.signup-form, .login-form {
    width: 60%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    .title {
        margin-bottom: 20px;
        font-size: 28px;
    }
    label {
        align-self: flex-start;
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 10px;
        color: rgb(66, 66, 66);
    }
    .in {
        width: 100%;
        margin-bottom: 20px;
        border: none;
        border-bottom: 2px solid rgb(73, 73, 73);
        background-color: transparent;
    }
    .in:focus {
        border-bottom: 2px solid green;
    }

    .signup-btn {
        padding: 5px 25px;
        color: white;
        background-color: rgb(163, 212, 90);
        border: none;
        border-radius: 8px;
        cursor: pointer;
        margin-top: 10px;
        font-weight: 600;
    }
}


/*
welcome page
*/

.welcome-container {
    width: 100%;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
        margin-bottom: 20px;
        font-size: 28px;
    }
    p {
        color: rgb(70, 70, 70);
        font-size: 14px;
        margin-bottom: 15px;
        text-align: center;
    }
    .btn-container {
        display: flex;
        margin: 0 auto;
        margin-top: 40px;
        justify-content: space-between;
        justify-self: center;

        a {
            padding: 5px 25px;
        color: white;
        background-color: rgb(163, 212, 90);
        border: none;
        border-radius: 8px;
        cursor: pointer;
        margin-top: 10px;
        font-weight: 600;
        margin-right: 10px;
        }
    }
}


.logout-btn {
    padding: 5px 25px;
    background-color: rgb(240, 65, 65);
    color: white;
    font-weight: 600;
}
