html{
    background-color: grey;
}

body{
    background-color: bisque;
    height: 800px;
    width: 800px;
    margin: auto;
}
@media screen {
    min-width
    min-height
}
.block{
    width: 100px;
    height: 100px;
    /* background: -webkit-linear-gradient( top rgb(228, 11, 192) white rgb(128, 128, 10)); */
    background-color: rgba(rgb(237, 145, 145), rgb(140, 239, 140), rgb(158, 158, 237), alpha);
    
    float: left;
    font-size: 70px;
    text-align: center;
    color: rgb(115, 10, 10);
}
.black{
    background-color: black;
}

.block:hover{
    background-color: rgb(0, 243, 166);
}
.block:active{
    background-color: rgb(199, 2, 2);
}
.block:visited{
    background-color: yellow;
}
.row{
    width: 100%;
    height: 100px;
    float: left;
}
