@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url("images/background.jpg") no-repeat top center/cover;
  color: #fff;
  font-family: "Open-Sans", sans-serif;
}

h1,
h3 {
  margin-bottom: 0;
}

p {
  margin: 0;
  line-height: 1.5;
}

.message {
  margin-top: 40px;
  font-size: 1.5rem;
}

.number-box {
  border: 1px solid #eaeaea;
  display: inline-block;
  font-size: 30px;
  margin: 20px;
  padding: 10px;
}

.play-again-btn {
  margin-top: 10px;
  padding: 10px 15px;
  border: 0;
  border-radius: 7px;
}
