* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkblue;
}

.header {
    background-color: #00ffff;
    text-align: center;
}

.title-row {
    margin-top: 42px;
    margin-bottom: 21px;
    text-align: center;
}

.instructions-title {
    display: inline;
    font-size: 18px;
    color: #00ffff;
    font-family: 'Work Sans', sans-serif;
}

.instructions-row {
    margin: 0 auto;
    width: 400px;
}

.instructions-number {
    padding-right: 25px;
    font-family: 'Work Sans', sans-serif;
    font-size: 36px;
    color: #00ffff;
}

.instructions-text {
    padding: 10px;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    color: #ffffff;
}

.door-row {
    text-align: center;
}

.start-row {
    margin: 0 auto;
    width: 180px;
    height: 70px;
    font-family: 'Work Sans', sans-serif;
    background-color: #eb6536;
    padding: 20px;
    font-size: 18px;
    text-align: center;
    color: #010165;
    margin-bottom: 21px;
    cursor: pointer;
}

.door-frame {
    cursor: pointer;
    padding: 10px;
}