.banner {
  color: white;
  object-fit: contain;
  height: 448px;
}
.banner_contents {
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
}

.banner_title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.8rem;
}
.banner_description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width: 360px;
  height: 80px;
}
.banner_button {
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding: 0.5rem 2rem;
  margin-right: 1rem;
  background-color: rgba(51, 51, 51, 0.5);
}
.banner_button:hover {
  color: black;
  background: #e6e6e6;
  transition: all 0.3;
}
.banner_fade_bottom {
  height: 8.4em;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(31, 31, 31, 0.61),
    #111
  );
}
